#hero {
    font-family: 'Comic Neue', cursive;
}
#text {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;;
    color: black;
    font-size: 27px;
}

#comics {
    background-size: 1000px; 
}

#hero-display {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 20px;
    margin: 0;
}

ul {
    font-size: 20px;
}

ul #hero-name {
    font-weight: bolder;
    font-size: 40px;
}

#hero-img {
    display:block;
/*  margin-left: auto; */
    margin-right: 150px; 
    width: 60%;
    border: 5px solid;
    border-radius: 20px;
}

footer {
    display: flex;
    font-family: 'Farro', sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: hsl(348, 100%, 63%);
}

#movie-poster {
    border: 5px solid;
    border-radius: 20px;
}
