#hero {
    font-family: 'Comic Neue', cursive;
}
#text {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #FF0000;;
    color: black;
    font-size: 27px;
}

#comics {
    background-size: 1000px; 
}

#hero-display {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

ul {
    font-size: 20px;
}

ul #hero-name {
    font-weight: bolder;
    font-size: 40px;
}

#hero-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}